<html>
<head>

</head>
<body>
Hi, <%=h @name %><br>
Here is your current grade report.




<%@headers=@content.keys %>
<table cellspacing="1" cellpadding="5px" table-layout="fixed">


<% @content.each do |key,value| %>
<tr><td><%=h key %></td>: <td><%=h value %></td></tr>



<%end%>
</table>


</body>
</html>